$margin: 40px;
$m-1: 50px;
$m-3: 30px;
$m-5: 10px;
$p-1: 50px;
$p-5: 10px;

$btn-1: 250px;
$border-color: rgba(245, 245, 220, 0.116);


/*
Mobile and Tablets 


*/

@media only screen and (max-width: 800px) {

    .home-hero {
        grid-template-columns: auto !important;
        justify-content: stretch !important;
        height: auto !important;
        align-items: start !important;
        margin: $m-1;
        padding: $p-5 0 !important;
    }

    .title {
        padding: 0 $p-5 !important;
        margin: 0 !important;
    }
    .main-title{
        padding: $p-5 !important;
    }

    .header-icons-div {
        position: absolute;
        right: 0;
        display: flex !important;
        flex-direction: column;
        z-index: 4;

        a {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 20px;
        
        }

    }
    main{
        margin: $m-3 $m-5 !important;
        border: 1px solid $border-color !important;
        padding: 0 !important;
    }
    .list-all-todos{
        border: 1px solid $border-color !important;
    }


    
}

.home-body {
    background-color: black !important;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: all .2s ease-in-out;
}



.form-control{
    max-width: 250px;
}
.save-btn{
    max-width: $btn-1;
}



.home-bubble {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bubble 5s ease-in infinite alternate backwards;
    z-index: 1;



}

.home-bubble::after {
    position: absolute;
    background: radial-gradient(ellipse at top, #E4520C, transparent),
        radial-gradient(ellipse at center, transparent, brown),
        radial-gradient(ellipse at bottom, yellow, transparent);
    height: 50rem;
    width: 50rem;
    content: "";
    border-radius: 100%;
    border: 1px solid transparent;
    transform: translateY(-6%);
    transform: translateX(2px);
    filter: blur(16px);
    animation: bubble1 5s ease-in infinite alternate forwards;

}

.home-bubble::before {
    position: absolute;
    background: radial-gradient(blue, transparent);
    content: '';
    height: 50rem;
    width: 50rem;
    border-radius: 100%;
    border: 1px solid transparent;
    transform: translateY(4%);
    filter: blur(16px);


}


.home-hero {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: center;
    width: 100%;
    z-index: 2;
    margin: $m-5 0;
    padding: $p-1;

    .title {
        grid-column: 1;
    }
}


h1 {
    border: 1px solid white;
    padding: 15px 10px !important;
    width: 10em !important;
    user-select: none;
}

.header-icons-div {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: end;
    margin-right: 40px;
    user-select: none;

    a {
        text-decoration: none;
        color: transparent;
    }

}

.header-icon {
    height: 30px;
    width: 30px;
    padding: 0 5px;
    text-decoration: none;
    color: transparent;
}

main {
    z-index: 3;
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    margin: 0 $m-1;
    padding: $p-1;

}

.list-all-todos {
    display: flex;
    border: 1px solid $border-color;
}

article {
    padding: 0 $p-5 0 0;
    margin: $m-5;
}

.main-article-title {
    color: white;
    font-size: 1em;
    text-align: left;
}

.main-article-bg {
    height: 150px;
    width: 170px;
}

.article-bg {
    height: 100%;
    width: 100%;
}


.main-title{
    display: flex;
    justify-self: center;
    color: white;
}

/* //animations */



@keyframes bubble {
    0% {
        transform: scale(1.01);

    }

    100% {
        transform: rotate(45deg);
        transform: matrix3d(12px);
    }

}

@keyframes bubble1 {
    0% {
        transform: translateY(3px);
        transform: rotate(30deg);

    }

    100% {
        transform: rotate3d(50deg);
        transform: scale(1.02);
        transform: translateX(25px);
    }
}