$text-color: #5ca5f9;
$header-color: #161B22;
$side-color: #0D1117;
$accent-color: #CF649A;


.main-logo img{
    height: 25px;
    width: 25px;
}

.todos{
    font-weight: 600;
    font-size: medium;
    margin: 0 0 0 9px;
    text-align: center;
    color: $text-color !important; 
}
.navbar-brand{
    width: max-content;
    align-items: center;
    justify-content: center;
}
nav{
    background-color: $header-color;
}

form{
    flex-direction: column;
}
form input{
    width: 50px;
    padding: 5px;
}