.main-logo img {
  height: 25px;
  width: 25px;
}

.todos {
  font-weight: 600;
  font-size: medium;
  margin: 0 0 0 9px;
  text-align: center;
  color: #5ca5f9 !important;
}

.navbar-brand {
  width: max-content;
  align-items: center;
  justify-content: center;
}

nav {
  background-color: #161B22;
}

form {
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

form input,
select {
  width: 17rem !important;
}

/*
Home page

*/
/*
Mobile and Tablets 


*/
@media only screen and (max-width: 600px) {
  .home-hero {
    grid-template-columns: auto !important;
    justify-content: stretch !important;
    height: auto !important;
    align-items: start !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .title {
    padding: 0 !important;
    margin: 0 !important;
  }
  .header-icons-div {
    position: absolute;
    top: 30px;
    right: 0;
    display: flex !important;
    flex-direction: column;
  }
  .header-icons-div a {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
  }
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.home-body {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.home-bubble {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: bubble 5s ease-in infinite alternate backwards;
  z-index: 1;
}

.home-bubble::after {
  position: absolute;
  background: radial-gradient(ellipse at top, #E4520C, transparent), radial-gradient(ellipse at center, transparent, brown), radial-gradient(ellipse at bottom, yellow, transparent);
  height: 50rem;
  width: 50rem;
  content: "";
  border-radius: 100%;
  border: 1px solid transparent;
  transform: translateY(-6%);
  transform: translateX(2px);
  filter: blur(16px);
  animation: bubble1 5s ease-in infinite alternate forwards;
}

.home-bubble::before {
  position: absolute;
  background: radial-gradient(blue, transparent);
  content: "";
  height: 50rem;
  width: 50rem;
  border-radius: 100%;
  border: 1px solid transparent;
  transform: translateY(4%);
  filter: blur(16px);
}

.home-hero {
  display: grid;
  grid-template-columns: 70% 30%;
  align-items: center;
  width: 100%;
  z-index: 2;
  margin: 40px;
  padding: 0 20px;
}
.home-hero .title {
  grid-column: 1;
  margin: 0 41px;
}

h1 {
  color: white;
  border: 1px solid white;
  padding: 15px 10px;
  width: 10em;
  user-select: none;
}

.header-icons-div {
  grid-column: 2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: end;
  margin-right: 40px;
  user-select: none;
}
.header-icons-div a {
  text-decoration: none;
  color: transparent;
}

.header-icon {
  height: 20px;
  width: 20px;
  padding: 0 5px;
  text-decoration: none;
  color: transparent;
}

@keyframes bubble {
  0% {
    transform: scale(1.01);
  }
  100% {
    transform: rotate(45deg);
    transform: matrix3d(12px);
  }
}
@keyframes bubble1 {
  0% {
    transform: translateY(3px);
    transform: rotate(30deg);
  }
  100% {
    transform: rotate3d(50deg);
    transform: scale(1.02);
    transform: translateX(25px);
  }
}

/*# sourceMappingURL=main.css.map */
