<section class="home-bubble">
</section>

<header class="home-hero">
    <span class="title">
        <h1 class="text-light">THE SMART TODO</h1>
    </span>

    <span class="header-icons-div">
        <a href="#">
            <img class="header-icon" src="../static/images/icons8-facebook.svg" alt="facebook share icon">
        </a>
        <a href="#" class="header-icon">
            <img class="header-icon" src="../static/images/icons8-twitter.svg" alt="twitter share icon">
        </a>
        <a href="#">
            <img class="header-icon" src="../static//images/icons8-whatsapp.svg" alt="Whatsapp icon share">
        </a>
    </span>
    <span class="header-icons-div-mobile" style="display: none;"></span>
</header>