{% extends 'layout.html' %}
{% block content %}
{% for mesg in get_flashed_messages() %}

{% endfor %}
<section class="home-body">
    <main>
        <section class="main-title">
            <h2 class="text-light">Your current projects</h2>
        </section>
        <section class="list-all-todos">
            <article>
                <section class="main-article-bg">
                    <img src="../static/images/walking.jpg" alt=" Someone walking" class="article-bg">

                </section>
                <section class="main-article-title">
                    <h2>Article title</h2>
                </section>

            </article>
        </section>
    </main>
</section>
{% endblock %}